body {
  margin: 0;
  font-family: monospace;
}

.toy-header {
  display: flex;
  justify-content: space-between;
  background: #515da2;
  height: 9rem;
  padding: 1rem 5rem;
}

.toy-header img {
  height: 8rem;
  width: auto;
}

.header-show-form {
  text-align: center;
}

.header-show-form p {
  font-size: 1.4rem;
}

.toy-collection {
  margin-top: 2rem;
  text-align: center;
}

.card {
  border: grey solid 1px;
  box-shadow: 3px 4px #e04b52;
  display: inline-grid;
  height: 25rem;
  width: 15rem;
  margin: 1rem 2rem;
  padding: 1rem;
  text-align: center;
}

.toy-avatar {
  height: 12rem;
  justify-self: center;
  width: auto;
}

.hidden {
  display: none;
}

.form-container {
  background: #ccd4ff;
  border-bottom: 2px solid #515da2;
  height: auto;
  width: stretch;
  padding: 1rem;
  text-align: center;
}

button,
input[type='submit'] {
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 18px;
  height: 3rem;
  width: max-content;
  justify-self: center;
  padding: 2px 12px;
  position: relative;
}

button:hover,
input[type='submit']:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

input[type='submit'].form-button,
button.form-button {
  border: 1px solid #515da2;
  height: 2rem;
  margin: 3px;
  padding: 1px 6px;
}

button.secondary {
  background-color: whitesmoke;
  color: #515da2;
  opacity: 80%;
}

input[type='text'] {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  font-family: monospace;
  height: 2rem;
  margin: 3px auto;
  width: 40%;
}
